body {
  background-color: slategray;
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

li h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  font-family: Helvetica, sans-serif;
  margin: auto;
  padding: 0;
  max-width: 35em;
}

ul li span div {
  border-top: solid black 0.1em;
  margin: auto;
}

ul li {
  border: solid lightslategray 0.4em;
  border-radius: 1em;
  margin: 0.5em auto;
  background-color: rgb(128, 146, 165);
}

li span {
  display: block;
  width: calc(100% - 141px);
  overflow: auto;
}

li img {
  border-radius: 100%;
  border: ghostwhite solid 0.2em;
  /* display: inline-block; */
  vertical-align: top;
  margin: 0.2em;
  float: left;
}
